* {
    box-sizing: border-box;
}

:root {
    --Orange: hsl(25, 97%, 53%);
    --White: hsl(0, 0%, 100%);
    --Light-Grey: hsl(217, 12%, 63%);
    --Medium-Grey: hsl(216, 12%, 54%);
    --Dark-Blue: hsl(213, 19%, 18%);
    --Very-Dark-Blue: hsl(216, 12%, 8%);
}

body {
    font-family: "Overpass", sans-serif;
    font-size: 15px;
    font-style: normal;
    margin: 0;
}


.root {
    height: 100vh;
    width: 100vw;
    background: var(--Very-Dark-Blue);
    display: grid;
    place-content: center;
}

.card {
    width: 25rem;
    height: auto;
    background: linear-gradient(var(--Dark-Blue) -50%, var(--Very-Dark-Blue) 250%);
    padding: 2rem;
    border-radius: 30px;
    color: var(--White);
}

.stars{
    display: grid;
    grid-auto-flow: column;
}

.svg {
    height: 2.9rem;
    aspect-ratio: 1/1;
    border-radius: 50%;
    background: var(--Dark-Blue);
    display: grid;
    place-content: center;
    transition: all 1s;
}


.svg:hover {
    transform: rotate(360deg);
}


.card > h1 {
    margin: 1.8rem 0 .9rem 0;
}

.card >p {
    margin: 1rem 0 1.7rem 0;
    color: var(--Medium-Grey);
    line-height: 1.4rem;
    letter-spacing: .05;
}

.rating {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    direction: rtl;
    cursor: pointer;
}

.rating >div {
    height: 3rem;
    width: 3rem;
    background: var(--Dark-Blue);
    display: grid;
    place-content: center;
    border-radius: 50%;
    margin-inline: auto;
    color: var(--Medium-Grey);
    transition: all .5s;
}

.rating div:hover,
.rating div:hover ~ div {
    background: var(--Light-Grey);
    color: var(--White);
}

.submit {
    display: block;
    margin: 1.8rem 0 0;
    width: 100%;
    background: var(--Orange);
    padding: .7rem;
    text-align: center;
    border-radius: 20px;
    font-size: .9rem;
    letter-spacing: .1rem;
    transition: all .5s;
}

.submit:hover {
    background: var(--White);
    color: var(--Orange);
    cursor: pointer;
}

.TnkYCard {
    width: 25rem;
    height: auto;
    background: linear-gradient(var(--Dark-Blue) -50%, var(--Very-Dark-Blue) 250%);
    padding: 2rem;
    border-radius: 30px;
    color: var(--White);
    text-align: center;
}

.phone-svg {
    display: grid;
    
}

.phone-svg > svg {
    display: inline;
    margin: 0 auto 2rem;
}

.rating-result {
    margin: 2rem 0;
    color: var(--Orange);
    opacity: .8;
    background-color: var(--Dark-Blue);
    padding: .5rem .8rem;
    display: inline;
    border-radius: 20px;
    font-size: .9rem;
}

.TnkYCard > h2 {
    margin: 2.6rem 0 .9rem 0;
    font-size: 1.8rem;
}

.TnkYCard > p {
    margin: 1rem 0 1.7rem 0;
    color: var(--Medium-Grey);
    line-height: 1.4rem;
    letter-spacing: .05;
}